<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.archivemanagement.mapper.DiaryTagRelationMapper">
    
    <!-- 根据日记ID查询关联的标签ID列表 -->
    <select id="selectTagIdsByDiaryId" resultType="java.lang.Long">
        SELECT tag_id FROM diary_tag_relation
        WHERE diary_id = #{diaryId}
        ORDER BY create_time ASC
    </select>
    
    <!-- 根据日记ID删除所有标签关联 -->
    <delete id="deleteByDiaryId">
        DELETE FROM diary_tag_relation
        WHERE diary_id = #{diaryId}
    </delete>
    
    <!-- 批量插入标签关联 -->
    <insert id="batchInsert">
        INSERT INTO diary_tag_relation (diary_id, tag_id, create_time)
        VALUES
        <foreach collection="relations" item="item" separator=",">
            (#{item.diaryId}, #{item.tagId}, NOW())
        </foreach>
    </insert>
    
</mapper>
